
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.sidebar {
    color: white;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #f78f5f;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo-img {
    width: 240px;
    height: auto;
    border-radius: 50%;
}
.contacto {
    color: darkred;
    background-color:#f78f5f;
    padding: 10px;
    margin-top: 20px;
    line-height: 2.4;
}
.contacto h3 {
    font-size: 20px;
    background-color: antiquewhite;
}

.info-contacto {
    font-size: 16px;
    text-align:justify;
    padding: 10px;
    margin: 8px;
    color: white;
}
.skills {
    font-size: 16px;
    text-align:justify;
    padding: 14px;
    margin: 6px;
    line-height: 1.6;
}
.titulo {
    color: darkred;
    background-color: antiquewhite;
    margin-top: 20px;
    line-height: 2.4;
    text-align:center;
}
.skills ul {
    list-style: square;
    padding: 10px;
}
.content {
    margin-left: 260px;
    padding: 20px;
}
.about-box {
    width: 1400px;
    background-color: #ffb593;
    border: 2px solid wheat;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0px 4px 10px egba (0,0,0,0.1);
    margin-top: 10px;
}
.about-box h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color: darkred;
}
.about-box p{
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}